@import url('https://fonts.googleapis.com/css?family=Comfortaa%7CRighteous');

body {
  background: url(https://c8.alamy.com/comp/M6XBBF/large-collection-of-fruits-and-vegetables-on-blur-green-background-M6XBBF.jpg);
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

h1 {
  font-family: 'Righteous', cursive;
  margin:0;
  margin-bottom: .5em;
  padding: 1em;
  text-align: center;
}

a {
  color: orange;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
  background: rgba(223, 245, 219, 0.9);
}

a:hover {
  color: ghostwhite;
}

li {
  list-style: none;
  text-align: center;
}

li a {
  color: orange;
}

input[type=text] {
  padding: .3em;
}

input[type=submit] {
  padding: .3em;
  color: orange;
  background: rgb(72, 177, 119);
  font-size: 1em;
  border-radius: 10%;
}